# Order Data Analysis.

## Project Goals and Requirements.

This project will have a few goals that must be met by the end. These goals are:
* Clean up the data, specifically any missing data on any rows.
* Create a total column that multiplies the price by the quantity ordered.
* Create a number of charts (what they are is to be determined).
    * Top 5 items that are frequently purchased
* Export the results to and Excel workbook / worksheet.

## Project Solution.

### Step 1. Import the Required Modules and Libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Create a Pandas DataFrame From the Data CSV File.

In [4]:
order_data = pd.read_csv("data/order-data.csv")

# Show first five rows:
order_data.head()

,order_id,order_date,customer_name,item_vendor_name,item,item_qty,price_per_unit,price_currency
0,1,2022/05/31,Jane Bloggs,Wikizz,Lid - 3oz Med Rec,1.0,290.921,GBP
1,2,2022/06/14,Jane Bloggs,Yodoo,Beans - French,5.0,369.391,GBP
2,3,2021/08/25,Jane Bloggs,Zoonoodle,Maple Syrup,5.0,496.848,GBP
3,4,2021/09/01,Jane Bloggs,Skibox,Strawberries - California,5.0,129.945,GBP
4,5,2021/08/23,Jane Bloggs,Teklist,"Lamb - Racks, Frenched",1.0,361.578,GBP

### Step 3. Check for NaN (null) Values and Clean-Up.

Rules for cleanup:
* order_id missing: Delete row.
* order_date missing: Delete row.
* customer_name missing: Set name to "Jane Bloggs".
* item_vendor_name missing: Set name to "unknown".
* item missing: Delete row.
* item_qty missing: Delete row.
* price_per_unit missing: Delete row.
* price_currency missing: Set to "GBP".

#### Step 3.1. Check for NaN In All Rows / Columns.